.content-wrapper>.content {
    padding-top: 1rem;
}

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0;
    padding-left: 0;
} */
/* 
.content-wrapper {
    background-color: #fff;
} */